Project4/Web References/GreenSvc/GreenWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DupeCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DupeCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DupeCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PullAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PullAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PullAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
            <s:element minOccurs="0" maxOccurs="1" name="card" type="tns:Card" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZipCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Card">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Exp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Cvv" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
            <s:element minOccurs="0" maxOccurs="1" name="card" type="tns:Card" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transaction" type="tns:Transaction" />
            <s:element minOccurs="0" maxOccurs="1" name="card" type="tns:Card" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateTransactionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PullTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PullTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PullTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="card" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DupeCardSoapIn">
    <wsdl:part name="parameters" element="tns:DupeCard" />
  </wsdl:message>
  <wsdl:message name="DupeCardSoapOut">
    <wsdl:part name="parameters" element="tns:DupeCardResponse" />
  </wsdl:message>
  <wsdl:message name="PullAccountSoapIn">
    <wsdl:part name="parameters" element="tns:PullAccount" />
  </wsdl:message>
  <wsdl:message name="PullAccountSoapOut">
    <wsdl:part name="parameters" element="tns:PullAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCardSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateCard" />
  </wsdl:message>
  <wsdl:message name="AuthenticateCardSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateCardResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTransaction" />
  </wsdl:message>
  <wsdl:message name="CreateTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="CreatePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="PullTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:PullTransactions" />
  </wsdl:message>
  <wsdl:message name="PullTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:PullTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="GreenWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DupeCard">
      <wsdl:input message="tns:DupeCardSoapIn" />
      <wsdl:output message="tns:DupeCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PullAccount">
      <wsdl:input message="tns:PullAccountSoapIn" />
      <wsdl:output message="tns:PullAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCard">
      <wsdl:input message="tns:AuthenticateCardSoapIn" />
      <wsdl:output message="tns:AuthenticateCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <wsdl:input message="tns:CreateTransactionSoapIn" />
      <wsdl:output message="tns:CreateTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:input message="tns:CreatePaymentSoapIn" />
      <wsdl:output message="tns:CreatePaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PullTransactions">
      <wsdl:input message="tns:PullTransactionsSoapIn" />
      <wsdl:output message="tns:PullTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input message="tns:DeleteAccountSoapIn" />
      <wsdl:output message="tns:DeleteAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreenWebServiceSoap" type="tns:GreenWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DupeCard">
      <soap:operation soapAction="http://tempuri.org/DupeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullAccount">
      <soap:operation soapAction="http://tempuri.org/PullAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCard">
      <soap:operation soapAction="http://tempuri.org/AuthenticateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap:operation soapAction="http://tempuri.org/CreateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap:operation soapAction="http://tempuri.org/CreatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullTransactions">
      <soap:operation soapAction="http://tempuri.org/PullTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GreenWebServiceSoap12" type="tns:GreenWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DupeCard">
      <soap12:operation soapAction="http://tempuri.org/DupeCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullAccount">
      <soap12:operation soapAction="http://tempuri.org/PullAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCard">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap12:operation soapAction="http://tempuri.org/CreateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap12:operation soapAction="http://tempuri.org/CreatePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullTransactions">
      <soap12:operation soapAction="http://tempuri.org/PullTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreenWebService">
    <wsdl:port name="GreenWebServiceSoap" binding="tns:GreenWebServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Fall2017/CIS3342_tuf09848/Project4WS/GreenWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GreenWebServiceSoap12" binding="tns:GreenWebServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Fall2017/CIS3342_tuf09848/Project4WS/GreenWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>